body {
    padding-top: 25px;
    height: 100%;
    font-family: "proxima-nova";
    font-size: 14px;
    line-height: 1.42857;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    font-family: inherit;
    font-weight: normal;
    line-height: inherit;
    text-align: center;
}
h1 {
    margin-bottom: 100px;
    margin-top: 5px;
    color: #40454F;
    font-size: 34px;
    font-weight: normal;
    line-height: 46px;
}
.post h1, 
.post h2 {
  color: #40454F;
  margin-top: 56px;
  font-size: 28px;
  font-weight: 300;
  text-transform: capitalize;
}
#logo > a:hover,
#logo > a:focus,
h5 > a:hover,
h5 > a:focus {
  color: #7993D4;
  text-decoration: underline;
}

a:hover, a:focus {
    color: #7993D4;
}
h2 {
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 42px;
  font-weight: 300;
  text-transform: uppercase;
  color: #7993D4;
}
.navbar h5 {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 300;
}
h5 {
   font-weight: normal;
   margin-top:40px;
   color: #808695;
   font-weight: 100;
   font-size: 16px;
}
.navbar {
    margin-bottom: 0;
}
p, li {
    color: #40454F;
    font-size: 19px;
    line-height: 32px;
}

blockquote p {
	font-size: 22px;
	line-height: 28px;
}

a {
    color: #7993D4;
}
ul, ol {
    margin-bottom: 0;
    margin-top: 1.6em;
    margin-left: 1.0em;
    list-style-type: disc;

}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

img { 
	width: 80%;
	margin-left: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
}

img.full-width{
	width: 100%;
	margin-left: 0%;
}

#logo {
	padding-top: 10px;
	display: block;
}
#logo-image {
	width: 72px;
	margin-left: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
}


.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.col-lg-12 {
  border-top: 1px solid #CCCCCC;
  margin-bottom: 70px;
}

#footer {
	border-top: 1px solid #CCCCCC;
	padding-top: 100px;

}

#footer .col-lg-6 {

}
#footer p {
    text-align: center;
    margin-bottom: 0px;
    font-size: 24px;
}
#footer img {
  margin-top: 20px;
}
#footer-list {
  margin-top: 125px;
}
#footer-image {
  width: 72px;
}
#ft-img {
    width: 234px;
}
#center-block {
  text-align:center;
  margin-top: 100px;
  margin-bottom: 125px;
}
.pagination-centered {
  text-align: center;
}
#center-block > li {
  display: inline;
  margin: 0 auto;
  width: 70px;
  margin-right: 25px;
}
#footer-list li a {
    color: #808695;
}
.footer-list {
	font-size: 18px;
	margin-left: 20px;
}